{% extends "details.html" %}
{% load static %}
{% block content %}
<div class="row d-flex align-items-stretch no-gutters" style="min-height:500px;">
        <div class="col-md-5 p-4 p-md-5 bg-light">
            <div class="text bg-light p-4">
                  <h2> Trench: {{ object.name }}</h2>
                  <h6> Area: {{ object.area }}</h6>
                  <h6> Lat: {{ object.latitude }}<br>Lon: {{ object.longitude }}</h6>
                  {{ object.description }}
            </div>

        </div>

        <div class="col-md-7 course d-lg-flex ftco-animate">
            <div class="img" style="background-image: url(); ">
            <img src="{{object.images.url}}" style="height:400px;margin-top:20%;"/>
        </div>
        </div>
</div>
{% endblock %}
